<lasso-page/>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Remote FE Jobs</title>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <lasso-head />
  </head>
  <body>
        <job-article jobs=data />
        <lasso-body/>
  </body>
</html>